<Router AppAssembly="typeof(Program).Assembly">
    <NotFoundContent>
        <div>
            <h1>Page not found</h1>
            <h2>I'm Scared</h2>
        </div>
    </NotFoundContent>
</Router>
